main {
  background-color: #fff;
  padding: 35px;
}

h1 {
  font-size: 3.5em;
  margin: 0 auto;
  width: 130px;
  border: 2px solid black;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
}

h4 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 40px;
}

#aboutMe {
  display: none;
  border: 1px solid black;
  padding: 20px;
  margin: 20px auto;
}

nav {
  width: 100%;
}

nav li{
  display: block;
  margin: 20px auto;
  width: 60%;
  height: 60px;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
}
nav li:hover {
  border: 1px solid #1EAEDB;
}

li a {
  font-size: 2em;
  text-align: center;
  text-decoration: none;
}
#filters {
  text-align: center;
  margin-top: 50px;
}
.filter {
  font-size: 1.5em;
  height: 50px;
  width: 90%;
  margin: 0 auto;
}

.arTemplate {
  display: none;
}

article header {
  font-size: 1.2em;
}

.arTitle {
  font-size: 1.5em;
  padding-left: 15px;
}

.byLine {
  padding-left: 30px;
  margin-bottom: 0;
}

.authLine {
  text-decoration: none;
}
.catLine {
  padding-left: 30px;
  padding-bottom: 20px;
}

.entryBody p {
  text-indent: 10%;
}

button {
  color: #1EAEDB;
  border-color: #000;
  width: 175px;
  height: 80px;
  padding: 0;
  float: right;
  margin-right: 15%;
  font-size: 1.2em;
}
button:hover {
  color: #0FA0CE;
  border-color: #1EAEDB;
}

img {
  margin: 10px;
  max-width: 250px;
}
.pull-left{
  float: left;
  padding-top: 10px;
  padding-right: 10px;
  clear:left;
}
.pull-right{
  float: right;
  padding-top: 10px;
  padding-left: 10px;
  clear: right;
}

@media screen and (min-width: 650px) {

  nav {
    width: 100%;
    text-align: center;
  }
  nav li{
    display: inline;
    margin: 10px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
  }
  li a {
    font-size: 1.8em;
  }
  .filter {
    font-size: 1.2em;
    height: 40px;
    width: 40%;
  }
  main {
    padding-left: 80px;
    padding-right: 80px;

  }
  button {
    color: #1EAEDB;
    border-color: #000;
    width: 120px;
    height: 40px;
    padding: 0;
    float: right;
    margin-right: 15%;
    font-size: 1em;
    font-weight: normal;
  }
  .arTitle {
    font-size: 2em;
  }
}
