main {
  background-color: #fff;
  border-left: 20px solid #f8f8f8;
  border-right: 80px solid #f8f8f8;
}

h1 {
  width: 140px;
  border: 2px solid black;
  text-align: right;
  padding: 0 15px 10px 0;
  margin-top: 7px;
}

#aboutMe {
  display: none;
  border: 1px solid black;
  padding: 20px;
  margin: 20px auto;
}

nav li{
  display: inline-block;
  margin: 10px;
  width: 80px;
}

li a {
  margin: 10px;
  border: 1px solid black;
  padding: 20px;
  text-decoration: none;
}

#catFilter p{
  display: inline;
}
#catSelect , #authFilter p {
  margin-bottom: -20px;
  display: inline;
}
#authSelect {
  margin-top: -40px;
}

.arTemplate {
  display: none;
}

span {
  font-style: italic;
}



button {
  color: #1EAEDB;
  border-color: #000;
}
button:hover {
  color: #0FA0CE;
  border-color: #1EAEDB;
}

img {
  display: inline;
  float: left;
  margin: 10px;
  max-width: 250px;
}


/*#colorBarL, #colorBarR {
  height: 140%;
  position: fixed;
  top: 0px;
  z-index: -1;
}#colorBarR {
  width: 80px;
  background-color: #f6f8f8;
  right: 4%;
}#colorBarL {
  width: 20px;
  background-color: #f6f8f8;
  left: 4%;
}*/
