nav li{
  display: inline;
}

img {
  display: inline;
  float: left;
  margin: 10px;
  max-width: 300px;
}

span {
  font-style: italic;
}

.arTemplate {
  display: none;
}

.hidden {
  display: none;
}

option {
  color: black;
}
